/*gilroy exta bold*/
@font-face {
    font-family: "SergoeUI";
    src: url('../fonts/segoe_ui.otf');
}

/*  ESTILOS GERAIS*/
* {
    margin: 0;
    /*border: 1px solid #000;*/
    /*box-shadow: inset 0px 0px 0px 1px #000;*/
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0.5vw;
    border-radius: 1em;
    background-color: #f6f7fa;

}
::-webkit-scrollbar-thumb{
    background-color: #0e1a35;
    outline: 1px solid slategrey;
    border-radius: 10px;
}
body{
    font-family: 'SergoeUI';
    overflow: hidden;
}
/*HOME LOGIN*/

#container{
    width: 100vw;
    height:100vh;
    float:left;
}


::-webkit-input-placeholder { /* Edge */
    font-size: 0.8em;
    color: #aaa !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 0.8em;
    color: #aaa !important;
}

::placeholder {
    font-size: 0.8em;
    color: #aaa !important;
}
.back_top_logo{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
    height:15vh!important;
    width:100vw;

}
.texto_logo{
    margin-top:1.5vh;
    margin-left:2vw;
    height:11vh!important;
    width:25vw;
}
.custom_size_logo{
    font-family: "SergoeUI";
    font-size: 5vw;
    background: -webkit-linear-gradient(rgba(128,61,209,1), rgba(98,0,255,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}




.corpo_menu_home{
    background: rgb(255,255,255);
    height:89vh!important;
    width:100vw;
    float:left !important;
    overflow-y: scroll;

}

.texto_titulo_menu{
    width:100vw;
    height:5vh;
    float:left !important;
    margin-top:5vh;

}
.custom_size_titulo_menu{
    font-family: "SergoeUI";
    font-size: 2vw;
    background: -webkit-linear-gradient(#888, #CCC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:2vw;
     float:left !important;
     text-align: center;
     width:100vw;
}
.card_size{
    min-width: 10vh!important;
    height:auto;
    float:left !important;
    width:100vw;
    margin-left:0px!important;
    padding:0px!important;
   
}
.menu_home_item{
    width:19.6vw;
    height:22vh;
    float:left !important;

}
.imagem_icone{
    width:100%;
     height:17vh;
    float:left !important;
}
.text_icone{
     width:100%;
     height:5vh;
    float:left !important;
     text-align: center;
}

.text_menu_custom{
      font-family: "SergoeUI";
    font-size: 2vw;
    background: -webkit-linear-gradient(#803DD1, #6200FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:100%;
}
.img_vector{
    width:10vw;
    height:10vw;
    margin-left: 5vw;
    fill: url(#gradient) #447799;
}
#item_vector{
    
}
