/*gilroy exta bold*/
@font-face {
    font-family: "SergoeUI";
     src: url("../fonts/segoe_ui.otf") format("opentype");
    
}

/*  ESTILOS GERAIS*/
* {
    margin: 0;
    /*border: 1px solid #000;*/
    /*box-shadow: inset 0px 0px 0px 1px #000;*/
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0.5vw;
    border-radius: 1em;
    background-color: #f6f7fa;

}
::-webkit-scrollbar-thumb{
    background-color: #0e1a35;
    outline: 1px solid slategrey;
    border-radius: 10px;
}
body{
    font-family: 'SergoeUI';
    overflow: hidden;
}
/*HOME LOGIN*/

#container{
    width: 100vw;
    height:100vh;
    float:left;
}


::-webkit-input-placeholder { /* Edge */
    font-size: 0.8em;
    color: #aaa !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 0.8em;
    color: #aaa !important;
}

::placeholder {
    font-size: 0.8em;
    color: #aaa !important;
}
.back_top_logo{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
    height:15vh!important;
    width:100vw;

}
.texto_logo{
    margin-top:1.5vh;
    margin-left:2vw;
    height:11vh!important;
    width:25vw;
}
.custom_size_logo{
    font-family: "SergoeUI";
    font-size: 5vw;
    background: -webkit-linear-gradient(rgba(128,61,209,1), rgba(98,0,255,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}




.corpo_menu_home{
    background: rgb(255,255,255);
    height:89vh!important;
    width:100vw;
    float:left !important;
    overflow-y: scroll;

}

.texto_titulo_menu{
    width:100vw;
    height:5vh;
    float:left !important;
    margin-top:5vh;

}
.custom_size_titulo_menu{
    font-family: "SergoeUI";
    font-size: 2vw;
    background: -webkit-linear-gradient(#888, #CCC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left:2vw;
     float:left !important;
     text-align: center;
     width:100vw;
}
.card_size{
    min-width: 10vh!important;
    height:auto;
    float:left !important;
    width:100vw;
    margin-left:0px!important;
    padding:0px!important;
   
}
.menu_home_item{
    width:19.6vw;
    height:22vh;
    float:left !important;

}
.imagem_icone{
    width:100%;
     height:17vh;
    float:left !important;
}
.text_icone{
     width:100%;
     height:5vh;
    float:left !important;
     text-align: center;
}

.text_menu_custom{
      font-family: "SergoeUI";
    font-size: 2vw;
    background: -webkit-linear-gradient(#803DD1, #6200FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width:100%;
}
.img_vector{
    width:10vw;
    height:10vw;
    margin-left: 5vw;
    fill: url(#gradient) #447799;
}
#item_vector{
    
}












/* IMPORT FONT FACE */



/*HOME LOGIN*/

#container{
    width: 100vw;
    height:100vh;
    float:left;
}


#article-left{
    width: 50vw;
    height:100vh;
    float:left;
    background-color:blue;
    background: #f5e9da url(../img/back_login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#article-right{
    width: 50vw;
    height:100vh;
    float:left;
    background-color:white;
}
.container-login{
    width:35vw;
    height:100vh;   
    margin:0 auto;
}
.login{
    width:35vw;
    height:60vh;   
    margin-top:20vh;
}
.header-login{
    width:35vw;
    height:10vh;   
    float:left;
}
.title-header-login{
    width:35vw;
    text-align:center;
}
.title-form-login{
    width:35vw;
    text-align:center;
}
.article-login{
    width:35vw;
    height:50vh;   
    float:left;
}
.line-login{
    width:35vw;
    height:12vh;   
    float:left;
    margin-top:2vh;
}
.title-login{
    width:35vw;
    height:5vh;   
    float:left;
    letter-spacing: 1.2px;
    font-size:1.2em;
    font-family: 'SergoeUI';
}




.rod-rodape{
    width:40vw;
    height:12vh;   
    float:left;
    margin-top:-10vh;
    margin-left:-10vw;
}

.fai-rodape{
    width:20vw;
    padding-top:4vh;
    text-align: center;
    height:6vh;   
    margin:0 auto;
}

.fa-rodape{
    width:100vw;
    height:6vh;  
    border:0px;
    background-color:#A9A9A9;
    color:#333333;
    font-family: 'SergoeUI';
    letter-spacing: 1.2px;
    font-size:1.1em;
    padding-top: 2vh;
}

.version{
    width:10vw;
    height:3vh;
    float: right;
}


.title-senha{
    width:17vw;
    height:5vh;   
    float:left;
    letter-spacing: 1.2px;
    font-size:1.2em;
    font-family: 'SergoeUI';
}
.title-senha-right{
    width:17vw;
    height:5vh;   
    float:right;
    text-align:right;
    font-family: 'SergoeUI';
    flex-direction: column;
    justify-content: center;
    letter-spacing: 1.2px;
    font-size:1em;
}
.title-senha-right:hover{
    text-decoration: underline;
    cursor:pointer;
    opacity: 0.9;
}

.pesquisar_painel{  
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #fff; 
    border:1px solid #000000;
    width:200px;
    text-align: center;
    outline: none;
}



.input-group-login{
    width:35vw;
    height:6vh;   
    float:left;
    border:1px solid  #ccc;
    border-radius:10px;
}
.input-group-login-active{
    transition-duration: 1s;
    transform-style: linear;    
    border:1px solid #555;
}
.input-group-login-error{
    transition-duration: 1s;
    transform-style: linear;    
    border:1px solid red;
}
.input-login{
    width:33vw;
    height:5vh;   
    float:left;
    margin-left:1vh;
    padding-left: 10px;
    padding-top:1vh;
    letter-spacing: 1.2px;
    font-size:1em;
    outline: none;
    border:0px;
    font-family: 'SergoeUI';
    flex-direction: column;
    justify-content: center
}
.btn-login{
    width:20vw;

    height:6vh;   
    margin:0 auto;
}
.bt-login{
    width:20vw;
    height:6vh;  
    border:0px;
    background-color:#0399D4;
    color:white;
    font-family: 'SergoeUI';
    letter-spacing: 1.2px;
    font-size:1.3em;
}
.bt-login:hover{
    cursor: pointer;
    background-color:#555;
    transition-duration: 0.5s;
    transform-style: linear;    
}
#wrapper {
    overflow-x: hidden;
}

.back_side{
    background-color:#3b3d84!important;
    color:white;
    font-size:1.1em;
}

.back_side_item{
    background-color:#3b3d84!important;
    color:white;
    font-size:1.1em;
}
.icons-side{
    padding-left: 0.1em;
    padding-right: 0.2em;
    font-size: 1em!important;
}
.center-time{
    border: 1px solid black; margin:0 auto;
    margin-top: 2em;
}
.img-logo{

    padding: 2em;
}
.logo{
    width:40%;
    margin-top:30vh;
    opacity: 0.1;
}
.lbl-data-hora{
    color:#3b3d84;
    font-size:1.5em;
    font-weight: 700;
}
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
.backbenfacil{
    background-image: url('../assets/img/benfacil_opacity.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 50vw;
    background-size: auto;
}
.custom_table{
    border:1px solid #3b3d84!important ;
    border-collapse: collapse!important ;
    box-shadow: 1px 1px 5px #555!important ;
}
.custom_table td{
    color:#555;
}
.btn_view{
    color:  #3b3d84;
    font-weight: 800;
    text-decoration:none; 
}
.btn_view:link{
    text-decoration:none; 
}
.bar_top{
    background-color:#3b3d84;
    color:white;
    margin-top: 0px !important;
}
.row_custom_table{
    font-size: 1em;
}
.text-pend{
    color:orange;
    font-weight: 800;
}
.text-refused{
    color: #f34336;
    font-weight: 800;
}
.text-aprovado{
    color:#6aa338;
    font-weight: 800;
}
.text-empty{
    color: #3b3d84;
    font-weight: 800;
    font-size:1.2em;
}
.text-title-table{
    color: #3b3d84;
    font-size:1.2em;
}
.text-consulta-table{
    color: #fff;
    margin-top:5px;
    font-size:1.2em;
}
.text-input-table{
    border:0px;
    outline-width: 0;
    borer-radius:5px;
    margin-left:20px;
    padding-left:5px;
    color: #3b3d84;
    margin-top:5px;
    font-size:1em;
    height:30px;
    margin-top:5px;
    background-color:#eee;
}
.text-input-table:focus{
    outline-width: 0;
}
.custom_modal{
    min-width:80vw!important;
    width:80vw!important;
    max-width:80vw!important;
}
.custom_bar_top{

    background-color:#3b3d84;
    color:white;
    height:40px;
}
.info_title_modal{
    margin-top:1vh;
}
.custom_body_modal{

}
.bottom-margin{
    margin-top:10px;
    border-bottom: 0.5px solid #eee;
}
#documentos{
    display: none;
}
.slide_modal {
    border-radius:10%;
    box-shadow: 1px 1px 5px #3b3d84;
    width: 10vw;
    height: 10vh;

    margin-bottom:20px;
}
.icon_next_back{
    font-size:2em;
    padding: 5px;
}
.sub_title_info{
    font-size: 0.7em;
    color:#aaa;
    width: 100%;
}
.perfil_modal{
    border-radius: 10%;
    box-shadow: 1px 1px 5px #3b3d84;
    width: 100px;
    height: 100px;
    margin:0 auto;
}
.icon_fechar{
    font-size:1.5em;
    float:right;
    margin-right: 10px;
}
.btn_fechar{
    color:white;
    text-decoration: none;
}
.btn_fechar:link{
    text-decoration: none;
}
.center-btn{
    height:40px;
    margin-top:30px;
    margin-bottom:30px;
}
.center-div{
    margin-top:30px;    
}
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
    .lbl-data-hora{
        color:#3b3d84;
        font-size:1em;
        font-weight: 700;
    }
    .btn_view{
        color:  #3b3d84;
        font-weight: 800;
        text-decoration:none; 
    }

}

@media (max-width: 420px) {
    .bar_top{
        background-color:#3b3d84;
        color:white;
        font-size:0.7em;
    }
    .row_custom_table{
        font-size: 0.7em;
    } 
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size:0.7em; 
    }
    .back_side{
        background-color:#3b3d84!important;
        color:white;
        font-size:0.7em;
    }
    .back_side_item{
        background-color:#3b3d84!important;
        color:white;
        font-size:0.7em;
    }
    #sidebar-wrapper .list-group {
        width: 10rem;
    }
    .custom_modal{
        min-width:95vw!important;
        width:95vw!important;
        max-width:95vw!important;
    }
}

@media (max-width: 768px) {
    .bar_top{
        background-color:#3b3d84;
        color:white;
        font-size:0.7em;
    }
    .row_custom_table{
        font-size: 0.7em;
    } 
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size:0.7em; 
    }
    .back_side{
        background-color:#3b3d84!important;
        color:white;
        font-size:0.7em;
    }
    .back_side_item{
        background-color:#3b3d84!important;
        color:white;
        font-size:0.7em;
    }
    #sidebar-wrapper .list-group {
        width: 10rem;
    }
    .custom_modal{
        min-width:90vw!important;
        width:90vw!important;
        max-width:90vw!important;
    }
}

@media (max-width: 1024px) {
    .bar_top{
        background-color:#3b3d84;
        color:white;
        font-size:0.7em;
    }
    .row_custom_table{
        font-size: 0.7em;
    } 
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size:1em; 
    }
    .back_side{
        background-color:#3b3d84!important;
        color:white;
        font-size:1em;
    }
    .back_side_item{
        background-color:#3b3d84!important;
        color:white;
        font-size:1em;
    }
    #sidebar-wrapper .list-group {
        width: 13rem;
    }
    .custom_modal{
        min-width:80vw!important;
        width:80vw!important;
        max-width:80vw!important;
    }
}
@media (max-width: 1366px) {
    .bar_top{
        background-color:#3b3d84;
        color:white;
        font-size:0.7em;
    }
    .row_custom_table{
        font-size: 0.7em;
    } 
    #sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size:1em; 
    }
    .back_side{
        background-color:#3b3d84!important;
        color:white;
        font-size:0.9em;
    }
    .back_side_item{
        background-color:#3b3d84!important;
        color:white;
        font-size:0.9em;
    }
    #sidebar-wrapper .list-group {
        width: 12rem;
    }
    .custom_modal{
        min-width:80vw!important;
        width:80vw!important;
        max-width:80vw!important;
    }
}